{% import_yaml 'soc/dynamic_annotations/hypervisor/hypervisor.yaml' as ANNOTATION %}

{% set TEMPLATE = ANNOTATION.hypervisor.hosts.pop('defaultHost') %}
{# remove defaultGuest so that it is not shown in Grid Configuration UI #}
{% do TEMPLATE['guests'].pop('defaultGuest') %}

{% for role in HYPERVISORS %}
{%   for hypervisor in HYPERVISORS[role].keys() %}
{%     do ANNOTATION.hypervisor.hosts.update({hypervisor: TEMPLATE}) %}
{%   endfor %}
{% endfor %}

{{ ANNOTATION | yaml(False) }}
